body {
  background-color: #E1E5E7;
}

#root {
  margin-bottom: 4em;
}

.ui.dividing.header {
  font-family: 'Pacifico', cursive;
  color: #FF8A0B;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

i.icon {
  margin: 0;
}
